create database datasaver;
create user keeper with encrypted password '';
grant all privileges on database datasaver to keeper;

CREATE TABLE flights(
   KeyFlight  SERIAL PRIMARY KEY,
   NumFly     INTEGER,
   DateTime   DATE,
   Commentary VARCHAR(50)
);

CREATE TABLE context(
   KeyContext       SERIAL PRIMARY KEY,
   ContextName      VARCHAR,
   ContextBeginDate DATE,
   ContextEndDate   DATE,
   Commentary VARCHAR
);

CREATE TABLE sensor(
    KeySensor      SERIAL PRIMARY KEY,
    SensorType     VARCHAR
);

