create database datasaver;
create user keeper;
grant all on schema public to keeper;

CREATE TABLE flights(
   KeyFlight  SERIAL PRIMARY KEY,
   NumFly     INTEGER,
   DateTime   DATE,
   Commentary VARCHAR(50)
);

CREATE TABLE context(
   KeyContext       SERIAL PRIMARY KEY,
   ContextName      DATE,
   ContextBeginDate DATE,
   ContextEndDate   DATE,
   double precision
   Commentary VARCHAR
);

CREATE TABLE sensor(
    KeySensor      SERIAL PRIMARY KEY,
    SensorType     VARCHAR
);

CREATE TABLE view_zone(
    ZoneGeometry double presicion,
    StartTime TIMESTAMP,
    EndTime      TIMESTAMP,
    RandeToTheZone INTEGER,
    Side         INTEGER,
    SourceDataZone INTEGER
);

CREATE TABLE series_of_holograms(
    NumLocator INTEGER,
    Type_Rgg INTEGER,
    Type_Work INTEGER,
    Key1FileName SERIAL PRIMARY KEY,
    NumStrAzimuth INTEGER,
    NumStrRange INTEGER,
    Step_Azimuth INTEGER,
    Step_Range INTEGER,
    Series_Rgg INTEGER,
    PolarBut VARCHAR(1),
    PolarReception VARCHAR(1),
    BandWidth INTEGER,
    DiskLabel VARCHAR(12),
    Path_Rgg VARCHAR(100)
);

CREATE TABLE hologram(
    FileName VARCHAR(30),
    Num_file INTEGER
);

CREATE TABLE rli(
    NumLocator INTEGER,
    Step_Azimuth INTEGER,
    Step_Range INTEGER,
    PolarBut VARCHAR(1),
    PolarReception VARCHAR(1),
    BandWidth INTEGER,
    Form_RLI INTEGER,
    FileName VARCHAR(30),
    Rli_Type INTEGER,
    AzimuthSize INTEGER,
    RangeSize INTEGER,
    Commentary VARCHAR(50)
);



