create database datasaver;
create user keeper;
grant all on schema public to keeper;

CREATE TABLE flights(
   KeyFlight  SERIAL PRIMARY KEY,
   NumFly     INTEGER,
   DateTime   DATE,
   Commentary VARCHAR(50)
);

CREATE TABLE context(
   KeyContext       SERIAL PRIMARY KEY,
   ContextName      VARCHAR,
   ContextBeginDate TIMESTAMP,
   ContextEndDate   TIMESTAMP,
   Latitude double precision,
   Longitude double precision,
   Latitude1 double precision,
   Longitude1 double precision,
   Commentary VARCHAR
);

CREATE TABLE sensor(
    KeySensor      SERIAL PRIMARY KEY,
    SensorType     VARCHAR
);

CREATE TABLE view_zone(
    Latitude double precision,
    Longitude double precision,
    Latitude1 double precision,
    Longitude1 double precision,
    StartTime TIMESTAMP,
    EndTime TIMESTAMP,
    RangeToTheZone NUMERIC(5),
    Side NUMERIC(1),
    SourceDataZone NUMERIC(1)
);

CREATE TABLE series_of_holograms(
    NumLocator NUMERIC(1),
    Type_Rgg NUMERIC(2),
    Type_Work NUMERIC(1),
    Key1FileName SERIAL PRIMARY KEY,
    NumStrAzimuth NUMERIC(8),
    NumStrRange NUMERIC(6),
    Step_Azimuth NUMERIC(2,1),
    Step_Range NUMERIC(2,1),
    Series_Rgg NUMERIC(4),
    PolarBut VARCHAR(1),
    PolarReception VARCHAR(1),
    BandWidth NUMERIC(3),
    DiskLabel VARCHAR(12),
    Path_Rgg VARCHAR(100)
);

CREATE TABLE hologram(
    FileName VARCHAR(30),
    Num_file NUMERIC(5)
);

CREATE TABLE rli(
    RLI_key SERIAL PRIMARY KEY,
    NumLocator NUMERIC(1),
    Step_Azimuth NUMERIC(2,1),
    Step_Range NUMERIC(2,1),
    PolarBut VARCHAR(1),
    PolarReception VARCHAR(1),
    BandWidth NUMERIC(3),
    Form_RLI NUMERIC(1),
    FileName VARCHAR(30),
    Rli_Type NUMERIC(1),
    AzimuthSize NUMERIC(7),
    RangeSize NUMERIC(7),
    Commentary VARCHAR(50)
);

DROP TABLE rli;
DROP TABLE hologram;
DROP TABLE series_of_holograms;
DROP TABLE view_zone;
DROP TABLE sensor;
DROP TABLE context;
DROP TABLE flights;